@import "../../_fonts";
@import "../../_variables";

.main-header {
    display: grid;
    grid-template-areas: "header_menu";
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5vw;
    padding-right: 5vw;
    position: sticky;
}

.header_navigation {
    grid-area: header_menu;
    font-family: Montserrat;
    font-weight: 700;
    justify-self: end;
    display: grid;
}

#menu-main-menu {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
#menu-main-menu li {
    color: #d1d1d1;
    filter: grayscale(100%);
    transition: filter 1.2s;
}

nav.social_media a {
    filter: contrast(0) sepia(100%) saturate(9%) brightness(130%) grayscale(3%)
        drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.3));
}

nav.social_media img {
    width: auto;
    height: 28px;
    margin-right: 3px;
    margin-left: 3px;
}

#toggle-main-menu {
    display: none;
}

.header_menu {
    top: -100vh;
    display: grid;
    transition: top 0.5s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
}

#menu-main-menu li {
    text-align: center;
    font-size: 5vw;
    opacity: 0;
    position: relative;
    margin-bottom: 15px;
    top: -10px;
}
