@import "../../_fonts";
@import "../../_variables";

.main-header {
    display: grid;
    grid-template-areas: "header_menu";
    padding-top: 45px;
    padding-bottom: 15px;
    padding-left: 5vw;
    padding-right: 5vw;
    position: sticky;
}

.header_navigation {
    grid-area: header_menu;
    font-family: Montserrat;
    font-weight: 700;
    justify-self: end;
    display: grid;
}

#menu-main-menu li {
    font-size: 5vw;
}

#toggle-main-menu {
    display: none;
}

.header_menu {
    top: -102vh;
    display: grid;
    transition: top 0.5s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
}

.header_menu {
    padding-right: 12vw;
    padding-left: 12vw;
    padding-top: 25vh;
    padding-bottom: 25vh;
    grid-auto-rows: 140px 1fr;
    grid-template-areas:
        "e_mail_menu main_menu"
        "social_media_menu main_menu";
}

#menu-main-menu {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
#menu-main-menu li {
    color: var(--font-color);
    filter: grayscale(100%);
    transition: filter 1.2s;
}

.menu_main_menu_wrapper {
    grid-area: main_menu;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.social_media {
    grid-area: social_media_menu;
    display: flex;
    align-items: flex-start;
}
